@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    background-color: #234449;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    flex: 0 1 auto;
    background-color: #113338;
    padding: 1.5% 0.5%;
    width: 20%;
    aspect-ratio: 2/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    border-radius: 10px;
    box-shadow: 0.4vmin 0.4vmin 7px 0px rgba(0,0,0,.7);
}

#screen {
    background-color: #668A8F;
    color: #113338;
    width: 93%;
    height: 75%;
    flex: auto;
    border-radius: 5px;
    box-shadow: 0.4vmin 0.4vmin 4px 0px rgba(0,0,0,1) inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

p {
    margin: 0;
    padding: 0;
    margin-right: 1vw;
}

#previousNum {
    font-size: 2vw;
    margin-top: 3%;
    height: 2vw;
}

#currentNum {
    font-size: 4vw;
    height: 4vw;
}

#buttons {
    flex: 1 0 auto;
    width: 93%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1vw;
}

button, button:disabled {
    flex: 1 0 auto;
    width: 20%;
    aspect-ratio: 1/1;
    font-family: Roboto, sans-serif;
    font-size: 2vw;
    border-radius: 5px;
    background-color: #EAF2F3;
    color: black;
    box-shadow: 0.4vmin 0.4vmin 4px 0px rgba(0,0,0,1);
}

#allClear, #clear {
    flex: 2 0 auto;
    width: 40%;
    aspect-ratio: 2/1;
}

#allClear {
    background-color: #668A8F;
    color: #113338;
}

#clear {
    background-color: #BF0631;
    color: white;
    font-size: 1.5vw;
}

button:hover {
    background-color: #A7BEC1;
}

button:active {
    background-color:#3D6B71;
    box-shadow: 0.2vmin 0.2vmin 4px 0px rgba(0,0,0,1) inset;
}